
.tab {
    text-transform: initial;
}

.container {
    padding-top: 3px;
    display: flex;
    align-items: center;
}

.logoContainer {
    margin: 0 1rem;
    cursor: pointer;
}

.personalContainer {
    margin-left: auto;
}