
.root {
}
.puzzle {
    position: relative;
    font-family: 'monospace';
    font-size: 64px;

    border: 3px solid black;
    margin: 0 auto;
}

.cont {
    position: relative;
    top: 0;
    left: 0;

    &Row {
        display: flex;
    }

    &Elem {
        flex: 1 1 0;
        margin: 2px;
        border: 2px solid #fafbbd;
    }
}