@import 'variables';

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // this defines what 1 rem is
    font-size: 62.5%; // 1rem = 10px
    font-family: 'Roboto', sans-serif;
}

body {
    box-sizing: border-box;
    font-size: $default-font-size;
}

.ionicon {
    fill: currentColor;
    stroke: currentColor;
}
.ionicon-fill-none {
    fill: none;
}
.ionicon-stroke-width {
    stroke-width: 32px;
}
